
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% load crispy_forms_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="nbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"> <strong class="mr-4 brand"> Awwards</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
            </ul>

            <form class="form-inline" method="get" action="{% url 'add' %}">
              {% csrf_token %}
                <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
                    Submit your site
                </button>
            </form>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="album">
    <div class="container">
      <div class="row">
       

    {% for post in posts %}
   
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
            
           
            <div class="card-header">{{post.title}}</div>
            <div class="card-body">  
              <img class="card-img-top"src = "{{post.photo.url}}" data-toggle="modal" data-target="#myModal{{post.id}}" style="height:150px;"/>
                  
              
              
                <br>
                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>
                <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal{{post.id}}">View</button>
                </div>
                
           

              </div>
            </div>
          </div>    
      </div>

           <!-- Modal -->
     <div class="modal fade" id="myModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="#{{post.title}}">{{post.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
        
        </div>
        <img class="card-img-top"src = "{{post.photo.url}}" data-toggle="modal" data-target="#myModal{{post.id}}"/>
        <div class="modal-body">{{post.description}}</div>
        <a class="modal-body">URL: href="{{post.url}}"</a>
        
        <div class="modal-footer">
      
          <button type="button" class="btn btn-info" value="{{ post.url }}" onclick="copyURL(this.value)">Copy URL</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
      </div>
      <script>
      function copyURL(value){
      function handler(event){
      event.clipboardData.setData('text/plain',value);
      event.preventDefault();
      document.removeEventListener('copy',handler, true);
      }
      document.addEventListener('copy', handler, true);
      document.execCommand('copy');
      }
      </script>
            {% empty %}
            <h3>The Site is still empty!</h3>
      
            
          {% endfor %}
      
      
      </div>
          </div>
      </div>
      
      
      
      
    






